<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Busca de Pokemon</h1>
    <form action="/search" method="POST">
        <label for="name">Nome do Pokemon:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Buscar</button>
    </form>
</body>
</html>